* {
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}
@font-face {
  font-family: "Helvetica Now Micro";
  src: local("Helvetica Now Micro Bold"), local("Helvetica-Now-Micro-Bold"), url("../fonts/HelveticaNowMicro-Bold.woff2") format("woff2"), url("../fonts/HelveticaNowMicro-Bold.woff") format("woff"), url("../fonts/HelveticaNowMicro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Now Micro";
  src: local("Helvetica Now Micro Light"), local("Helvetica-Now-Micro-Light"), url("../fonts/HelveticaNowMicro-Light.woff2") format("woff2"), url("../fonts/HelveticaNowMicro-Light.woff") format("woff"), url("../fonts/HelveticaNowMicro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
body {
  font-family: "Helvetica Now Micro Light", sans-serif;
  color: #000000;
}

img {
  max-width: 100%;
}

.section {
  padding: 100px 0;
}
.section-title {
  font-size: 30px;
  font-family: "Helvetica Now Micro Bold", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.section__title {
  margin-bottom: 100px;
}

.button-o {
  border: 2px solid #000000;
  padding: 17px 22px;
  font-size: 12px;
  text-transform: uppercase;
  color: #000000;
  background-color: transparent;
  font-family: "Helvetica Now Micro Bold", sans-serif;
  text-decoration: none;
}
.button-o:hover {
  cursor: pointer;
}

.hero-button {
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  padding: 25px 45px;
  background-color: #000000;
  color: #ffffff;
  font-family: "Helvetica Now Micro Bold", sans-serif;
}
.hero-button:hover {
  cursor: pointer;
}

.form-button {
  border: none;
  text-transform: uppercase;
  padding: 25px 45px;
  background-color: #000000;
  color: #ffffff;
  font-family: "Helvetica Now Micro Bold", sans-serif;
}
.form-button:hover {
  cursor: pointer;
}

.button-fitting {
  color: #000000;
  background-color: #fff;
}
.button-add {
  background-color: #1a1a1a;
  color: #fff;
}
.button-like {
  background-color: #000000;
  height: 30px;
  width: 30px;
  border: none;
}

.bg-secondary {
  background: #f1f1f1;
}

.input {
  height: 80px;
  padding-left: 30px;
  border: 1px solid #dddddd;
}

.checkbox {
  display: none;
}
.checkbox:checked + label:before {
  background-color: #000000;
}
.checkbox-label {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.checkbox-label:hover {
  cursor: pointer;
}
.checkbox-label:before {
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid #dddddd;
  margin-right: 20px;
}
.checkbox .button-o {
  font-size: 10px;
}
.checkbox .section {
  padding: 60px 0;
}
.checkbox .section-title {
  font-size: 24px;
}

@media (max-width: 576px) {
  .hero-button {
    font-size: 10px;
  }
}
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1000;
}
.navbar-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-mobile, .navbar-landline {
  text-align: right;
}
.navbar-phone {
  display: block;
  margin-bottom: 5px;
  font-size: 19px;
  font-family: "Helvetica Now Micro Bold", sans-serif;
  text-decoration: none;
  color: #000000;
}
.navbar-smalltext {
  display: block;
  font-size: 14px;
  color: #7b7b79;
  text-decoration: none;
}

.menu {
  position: fixed;
  z-index: 0;
  top: 80px;
  left: 0;
  width: 100%;
  padding: 16px 0;
  background-color: #000000;
  color: #fff;
  transform: translateY(-200%);
  opacity: 0;
}
.menu_active {
  transform: translateY(0);
  opacity: 1;
}
.menu-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menu-link {
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  color: #fff;
}
.menu-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  height: 80px;
  width: 70px;
}
.menu-btn-line {
  display: block;
  width: 20px;
  height: 3px;
  background-color: black;
  margin: 2px 0;
}

.logo-text {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Helvetica Now Micro Bold", sans-serif;
}
.logo-discription {
  display: block;
  font-size: 14px;
  color: #7b7b79;
}

@media (max-width: 991px) {
  .navbar-mobile, .navbar-landline {
    display: none;
  }
}
@media (max-width: 576px) {
  .logo {
    display: none;
  }
  .menu {
    top: 60px;
  }
  .menu-button {
    height: 60px;
  }
  .menu-nav {
    flex-direction: column;
    padding: 15px 0 0 0;
  }
  .menu-link {
    margin-bottom: 20px;
  }
}
.hero {
  background: #f1f1f1 url("../img/hero/hero-bg.jpg") no-repeat center top;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 270px;
  margin-top: 80px;
}
.hero-title {
  font-size: 30px;
  margin-bottom: 40px;
}
.hero-subtitle {
  display: block;
  margin-bottom: 67px;
  font-size: 30px;
  font-family: "Helvetica Now Micro Bold", sans-serif;
}

@media (max-width: 991px) {
  .hero {
    background-position: left;
  }
}
.offer {
  padding: 129px 0;
}
.offer-block {
  background: #fff url("../img/offer/form-bg.png") no-repeat center right;
  background-size: contain;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  padding: 80px;
  margin-top: -200px;
}
.offer-title {
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Helvetica Now Micro Bold", sans-serif;
  margin-bottom: 20px;
}
.offer-subtitle {
  display: block;
  font-size: 21px;
  margin-bottom: 48px;
}

.form-row {
  display: flex;
  align-items: center;
  max-width: 900px;
  margin-bottom: 25px;
}
.form-row:last-child {
  margin-bottom: 0;
}
.form-label {
  display: block;
  font-size: 17px;
  margin-bottom: 15px;
}
.form-group {
  flex-basis: 33.33%;
}
.form-input {
  width: 100%;
  border-right-width: 0px;
}
.form-input:last-child {
  border-right-width: 1px;
}
.form-button {
  height: 80px;
  width: 100%;
}

@media (max-width: 1199px) {
  .offer-block {
    background-position: center right -120px;
  }
}
@media (max-width: 768px) {
  .offer-block {
    background: none;
    background-color: #fff;
    padding: 40px;
  }
  .offer-title {
    font-size: 18px;
  }
  .offer-subtitle {
    font-size: 16px;
  }
  .form-row {
    flex-direction: column;
  }
  .form-row-checkbox {
    flex-direction: row;
  }
  .form-group {
    flex-basis: 100%;
    width: 100%;
  }
  .form-input {
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .form-row-checkbox {
    flex-direction: column;
    align-items: flex-start;
  }
  .form-checkbox {
    margin-bottom: 10px;
  }
}
.features-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.features-block-item {
  flex-basis: 33%;
  text-align: center;
  margin-bottom: 100px;
}

@media (max-width: 991px) {
  .features-block-item {
    flex-basis: 50%;
  }
}
@media (max-width: 768px) {
  .features-block-item {
    flex-basis: 100%;
    margin-bottom: 50px;
  }
}
.catalog {
  background-color: #f5f6f8;
}
.catalog-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.catalog-card {
  max-width: 570px;
  position: relative;
  box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.1);
}
.catalog__card {
  margin-bottom: 30px;
}
.catalog__card-buttons {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
}
.catalog__card__button {
  font-size: 11px;
  border: none;
  text-transform: uppercase;
  padding: 10px;
  height: 30px;
}
.catalog__card-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
}
.catalog__card-image {
  display: block;
}
.catalog-link {
  text-align: center;
  margin-top: 60px;
}
.catalog-link-more {
  display: inline-block;
  margin-bottom: 24px;
}
.catalog-description {
  display: block;
}

@media (max-width: 1199px) {
  .catalog-block {
    justify-content: center;
  }
  .catalog-card {
    max-width: 470px;
  }
}
.blog-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
}
.blog-title {
  font-size: 24px;
  font-family: "Helvetica Now Micro Bold", sans-serif;
}
.blog-link-more {
  color: #000000;
  font-size: 16px;
}
.blog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.blog-list-image {
  height: 200px;
  overflow: hidden;
}
.blog-list-text {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
}
.blog-list-text__card {
  margin-bottom: 40px;
}
.blog-card {
  width: calc(25% - 20px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}

@media (max-width: 1199px) {
  .blog-list {
    justify-content: space-around;
  }
  .blog-list__card {
    margin-right: 30px;
    margin-left: 30px;
  }
}
.price-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.price-block__card {
  margin-bottom: 10px;
}
.price-card {
  background-color: #fff;
  position: relative;
}
.price-card__text {
  padding: 20px;
  font-size: 15px;
}
.price-card__title {
  margin: 0;
}
.price-card__cost {
  font-family: "Helvetica Now Micro Bold", sans-serif;
}
.price-card__pricetag {
  display: flex;
  justify-content: space-between;
}
.price-card__button {
  text-align: center;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  height: 80px;
  padding: 20px;
  padding-top: 0;
}
.price-card:hover .price-card__button {
  z-index: 99;
  bottom: -80px;
}

@media (max-width: 991px) {
  .price-block {
    justify-content: center;
  }
  .price-block__card {
    margin: 20px;
  }
}
@media (max-width: 576px) {
  .price-block__card {
    margin: 10px;
  }
}/*# sourceMappingURL=style.css.map */